@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bike Hub</h1>
    <p>Abarnas clone test.</p>
    <p> Hello Make a test!</p>
    <p>Farzan Commit number 2</p>

</div>
