@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Successful";

}
<h1>Archived Successfully</h1>

<p>The record has been successfully Archived. Thank you!</p>
<p>
    Return To:
    <a asp-controller="Customer" asp-action="AdminList">AdminList</a>
    &nbsp;
    <a asp-controller="Admin" asp-action="ArchivedCustomers"> Archive List</a>

</p>