@model BikeHub.Models.PageContentViewModel

@{
    ViewData["Title"] = "Manage Content";
}

<h2>Manage Page Content</h2>

<form asp-action="ManageContent" method="post">
    <input type="hidden" asp-for="Id" />

   
        <div class="form-group">
        <label asp-for="SelectedPageName">Page Name</label>
        <select asp-for="SelectedPageName" class="form-control" asp-items="@(new SelectList(Model.PageNames))">
            <option value="">-- Select Page --</option>
        </select>
    </div>


   
    <div class="form-group">
        <label asp-for="SelectedSectionName"> Title: </label>
        <input type="text" asp-for="SelectedSectionName" class="form-control" />
    </div>

    <!-- Textarea for Content -->
    <div class="form-group">
        <label asp-for="Content">Content</label>
        <textarea id="contentEditor" name="content" asp-for="Content">@ViewBag.Content</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<script>
    // Initialize CKEditor
    CKEDITOR.replace('contentEditor', {
        allowedContent: false, 
        removePlugins: 'sourcearea' 
    });</script>
